.button {
    display: block;
    position: relative;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    width: 100%;
    margin: 0;
    padding: 2.5% 0%;
    border: none;
    border-radius: 1000vw;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-decoration: none;
  
    z-index: 100;
  
    transition: transform 0.5s;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    border-radius: inherit;

    background-color: var(--on-hover-background-color) !important;

    transition: opacity 0.15s;
}

.button:hover::before {
    opacity: 1;
}

.button .pressed {
    transform: translate(0, 0.5vh);
}
