@import url("https://fonts.googleapis.com/css2?family=Gluten&family=Inter&display=swap");
.app {
  font-family: "Inter";
  text-align: center;
}

.header-title {
  font-family: "Gluten", "Inter";
  text-shadow: 3px 2px #c9b25e;
  color: #f3ef17;
  font-size: 60px;
  margin: 0;
}

.header-desc {
  color: #6c757d;
  position: relative;
  bottom: 20px;
}

.header-elems {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.header-version {
  font-size: 15px;
  position: relative;
  left: 1rem;
  top: 0.5rem;
}

.github-social {
  width: 7vh;
}
