@import url("https://fonts.googleapis.com/css2?family=Gluten&family=Inter&display=swap");

html, body {
  min-width: 300px;
  min-height: 400px;
  margin: 0;
  padding: 5% 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #023047;
}
