.hero-layout {
  position: relative;
  margin-top: 10vh;

}

.hero-title {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.hero-btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #f3ef17;
  color: #023047;
  font-family: 'Inter';
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 0px;
  overflow: hidden;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  transition: 
    box-shadow 0.4s, 
    transform 0.4s;
}

.hero-btn:hover {
  transform: scale(1.05);
}

.hero-btn:active {
  box-shadow: none;
  transform: scale(0.95);
}

.hero-desc {
  padding: 2rem;
  font-size: 1.5rem;
  color: #6c757d;
  text-align: center;
}

.hero-desc-arrow {
  color:#ff9b00;
}

nav {
  margin-left: 1.5vh;
}

.header-title {
  font-family: 'Gluten';
  text-shadow: 3px 2px #c9b25e;
  margin-left: 2vh;
  position: relative;
  bottom: 25px;
  font-size: 4rem;
  color:#f3ef17;
}

.header-title-mid {
  font-size: 5.2rem;
}

.striped-shapes {
  z-index: -1;
}

.striped-circle {
  position: absolute;
  left: 20rem;
  bottom: 5rem;
  width: 300px;
  height: 300px;
}

.striped-star {
  position: absolute;
  left: 85rem;
  bottom: 20rem;
  width: 300px;
  height: 300px;
}

.something {
  background-color: black;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
}
