.hero-layout {
  background-color: purple;
  position: relative;
  margin-top: 10vh;

}

.hero-title {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
